---
---
@import "minima";

body {
  background-color: #121212; // Deep black/grey
  color: #e0e0e0;            // Soft white text
}

a {
  color: #bb86fc;            // Neon purple for links
}

.site-header {
  border-top: 5px solid #bb86fc;
  background-color: #1e1e1e;
}